#wrapper {
	margin: auto;
	width: 95%;
}

body {
	background: black;
}

#sortable { 
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

#sortable li { 
	display: inline;
	float: left;
	margin: 15px;  
	font-size: 1.4em; 

}

#sortable li span { 
	position: absolute;
	margin-left: -1.3em; 
}

#apps {
	height: 500px;
}

.app-block {
	border: white solid 5px;
}

.clear {
	clear: both;
}

.xsize1 { width: 360px; }
.xsize2 { width: 750px; }
.xsize3 { width: 1140px; }

.ysize1 { height: 360px; }
.ysize2 { height: 750px; }
.ysize3 { height: 1140px; }
