body{
	width: 360px;
	height: 360px;
	text-align: center;
	position: fixed;
	background: black no-repeat;
}
img{
	width: 220px;
	height: 220px;
}
.temp
{
color: white;
font-size: xx-large;
}
.data
{
margin-top: 0px;

}